body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M1080 467.31C1061.81 467.31 1053 502.01 1053 540C1053 656.48 1060.64 776.25 1080 776.25C1099.68 776.25 1131.08 652.95 1131.08 540C1131.08 498.48 1100.85 467.31 1080 467.31' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M37.5 270C21.85 253.3 2.97 264.94 0 243.53C-15.78 129.94 -62.1 59.66 0 0C64.63 -62.1 132.33 -10.69 253.47 0C267.33 1.22 264.08 10.62 270 23.82C324.66 145.62 374.63 146.35 374.63 270C374.63 400.22 345.18 531.56 270 531.56C176.61 531.56 156.85 397.32 37.5 270' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M711.82 270C737.82 173.08 743.09 90 810 90C903.36 90 995.34 156.38 1032.35 270C1068.63 381.38 1001.68 407.45 956.57 540C909.79 677.45 907.42 677.5 848.57 810C834.14 842.5 825.61 870 810 870C796.13 870 800.5 839.75 789.62 810C740.15 674.75 709.34 679.13 689.29 540C670.44 409.13 677.46 398.08 711.82 270' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1132.26 270C1141.13 151.39 1220.23 104.82 1350 52.26C1464.1 6.04 1541.95 9.5 1620 72.44C1676.95 118.37 1620 171.22 1620 270C1620 339.83 1659.67 362.9 1620 409.66C1545.13 497.9 1437.97 441.6 1390.91 540C1342.24 641.77 1442.35 683.37 1428.55 810C1421.9 871.05 1393.42 915.37 1350 915.37C1300.15 915.37 1248.4 875.83 1242 810C1230.15 688.14 1338.86 664.75 1313.51 540C1283.99 394.75 1122.89 395.26 1132.26 270' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M308.57 1080C308.57 1053.22 426.62 977.47 540 977.47C634.38 977.47 724.09 1052.64 724.09 1080C724.09 1103.9 632.05 1080 540 1080C424.28 1080 308.57 1104.48 308.57 1080' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M895.91 1080C895.91 1037.75 992.12 930 1080 930C1157.8 930 1227.27 1035.9 1227.27 1080C1227.27 1110.9 1153.64 1080 1080 1080C987.95 1080 895.91 1112.75 895.91 1080' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M225 270C225 245.84 251.77 222.35 270 222.35C284.4 222.35 290.25 246.07 290.25 270C290.25 295.21 284.55 320.63 270 320.63C251.93 320.63 225 294.98 225 270' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M115.71 0C115.71 32.3 34.18 111.18 0 111.18C-23.68 111.18 -28.35 27.24 0 0C29.51 -28.35 115.71 -23.29 115.71 0' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M799.48 270C801.02 259.18 802.83 250.71 810 250.71C820 250.71 831.27 255.32 833.82 270C856.34 399.96 868.51 408.86 860.14 540C856.6 595.48 833.22 643.24 810 643.24C787.5 643.24 770.24 594.19 768.71 540C764.98 407.57 780.38 403.82 799.48 270' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1350 270C1350 255.92 1499.58 237.07 1620 237.07C1634.58 237.07 1620 253.53 1620 270C1620 281.64 1630.68 293.28 1620 293.28C1495.68 293.28 1350 284.03 1350 270' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M501.43 1080C501.43 1075.54 521.1 1062.91 540 1062.91C555.73 1062.91 570.68 1075.44 570.68 1080C570.68 1083.98 555.34 1080 540 1080C520.72 1080 501.43 1084.08 501.43 1080' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1049.32 1080C1049.32 1072.96 1065.35 1055 1080 1055C1092.97 1055 1104.55 1072.65 1104.55 1080C1104.55 1085.15 1092.28 1080 1080 1080C1064.66 1080 1049.32 1085.46 1049.32 1080' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.main {
    text-align: center;
}
.card {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    margin:50px auto;
    display: inline-block;
    -webkit-box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
            box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
} 
.logo{
    width: 150px;
    height: 150px;
    margin:auto auto;
    background-image: url("../img/delmonte.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.input {
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
   }
   .input:focus {
    outline-color: white;
    place-content: "Ingrese la información";
   }

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #f3f3f3;
    z-index: 1;
    background: #3b3b3b;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #3a923f;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: f3f3f3;
   }
   
   button:hover::before {
    width: 100%;
   }