body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M40.25 140C38.14 94.46 12.96 98.06 0 52.97C-7.16 28.06 -19.21 7.27 0 0C50.79 -19.21 70 0 140 0C210 0 210 0 280 0C329.41 0 336.54 -15.1 378.82 0C406.54 9.9 400.24 50 420 50C438.78 50 429.89 9.29 455.9 0C499.89 -15.71 507.95 0 560 0C600.6 0 604.08 -10.98 641.2 0C674.08 9.72 673.2 41.41 700 41.41C720.31 41.41 711.44 7.09 735.42 0C781.44 -13.61 787.71 0 840 0C894.93 0 899.26 -10.62 949.87 0C969.26 4.07 962.53 29.38 980 29.38C1008.11 29.38 1008.71 6.78 1041.03 0C1078.71 -7.91 1080.51 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 204.53 1562.64 269.06 1540 269.06C1511.01 269.06 1485.4 206.58 1436.75 140C1415.4 110.78 1417.81 77.45 1400 77.45C1382.54 77.45 1369.67 105.99 1366.21 140C1359.37 207.27 1404.73 223.31 1379.41 280C1351.62 342.23 1317.58 377.83 1260 377.83C1207.75 377.83 1209.52 329.27 1159.75 280C1139.52 259.97 1145.38 239.84 1120 239.24C1055.5 237.72 1035.64 298.6 980 275.76C914.73 248.98 931.13 206.13 878.18 140C861.13 118.71 859.93 100.93 840 100.93C818.14 100.93 804.97 113.45 794.59 140C769.97 202.99 755.4 223.26 770 280C778.11 311.52 802.59 314.91 840 316.52C907.59 319.43 927.52 263.96 980 289.03C1035.82 315.7 1011.12 360.66 1056.6 420C1081.12 451.99 1088.74 445.31 1120 471.69C1171.69 515.31 1222.5 534.88 1222.5 560C1222.5 579.03 1171.25 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 360 -4.42 358.91 0 300C0.83 288.91 7.76 290.9 10.5 280C27.88 210.9 43.39 207.98 40.25 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 135.33C556.88 135.33 552.63 137.74 552.63 140C552.63 142.2 556.83 144.24 560 144.24C561.89 144.24 562.75 142.15 562.75 140C562.75 137.69 561.94 135.33 560 135.33' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 372.5C99.71 383.52 68.11 397.07 68.11 420C68.11 442.27 100.38 456.14 140 462.9C206.33 474.21 214.38 471.26 280 456.13C307.4 449.81 326.03 440.77 326.03 420C326.03 393.74 312.1 370.27 280 362.07C219.09 346.52 205.65 354.55 140 372.5' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M84 140C66.51 67.76 14.03 40.41 30.2 0C42.03 -29.59 85.1 0 140 0C208.29 0 250.55 -34.18 276.59 0C303.88 35.82 245.58 71.73 246.67 140C247.29 178.57 248.81 206.33 280 213.68C335.47 226.75 352.91 172.06 420 180.83C492.91 190.37 490.85 214.02 560 250.3C585.35 263.6 609 258.59 609 280C609 317.99 582.43 323.58 560 369.09C547.93 393.58 540 397.29 540 420C540 430.52 548.67 435.56 560 435.56C582 435.56 584.69 430.81 606.67 420C654.69 396.37 649.81 372.56 700 366.67C766.48 358.87 769.49 383.73 840 392.61C909.49 401.36 914.49 390.02 980 401.94C989.77 403.72 982.78 413.12 990.57 420C1052.78 474.92 1055.63 472.35 1120 525.54C1140.35 542.35 1160 550.2 1160 560C1160 567.43 1140 560 1120 560C1050 560 1050 560 980 560C934.23 560 924.73 578.13 888.46 560C854.73 543.13 861.94 490 840 490C819.71 490 834.16 544.92 804 560C764.16 579.92 752 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C77 560 14 569.91 14 560C14 549.59 75.9 535.31 140 519.35C208.9 502.19 216.4 520.77 280 493.76C333.38 471.09 373.97 462.4 373.97 420C373.97 366.38 340.67 330.24 280 301.72C223.68 275.24 206.52 317.94 140 310C115.52 307.08 105.51 302.81 98 280C77.51 217.81 100.41 207.76 84 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 18.67C553.36 18.67 545.64 5.8 545.64 0C545.64 -3.54 552.82 0 560 0C565.6 0 571.2 -3.17 571.2 0C571.2 6.16 566.14 18.67 560 18.67' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M631.37 140C631.37 110.03 667.95 90.7 700 90.7C725.91 90.7 747.3 111.89 747.3 140C747.3 182.6 727.48 232.11 700 232.11C669.52 232.11 631.37 180.74 631.37 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 60.23C808.42 60.23 777.59 17.51 777.59 0C777.59 -12.6 808.8 0 840 0C872.79 0 905.57 -12.77 905.57 0C905.57 17.34 872.41 60.23 840 60.23' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M917.95 140C917.95 104.73 942.07 96.55 980 72.59C1043.1 32.73 1052.42 45.41 1120 12.35C1126.62 9.11 1121.27 0.63 1128.4 0C1191.27 -5.55 1194.2 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 177.19 1553.04 214.38 1540 214.38C1523.29 214.38 1506.73 179.61 1480.5 140C1436.73 73.91 1439.02 2.98 1400 2.98C1361.76 2.98 1344.95 67.06 1325.98 140C1308.92 205.57 1348.21 219.88 1327.94 280C1315.22 317.71 1292.76 335.66 1260 335.66C1230.27 335.66 1231.06 308.25 1202.96 280C1161.06 237.89 1170.64 207.95 1120 194.94C1059.16 179.31 1038.58 238.66 980 222.73C937.56 211.19 917.95 179.8 917.95 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M127.75 140C112.54 70.17 94.06 54.35 98.82 0C100.19 -15.65 119.41 0 140 0C165.61 0 188.14 -18.48 191.22 0C199.8 51.52 181.89 71.53 163.33 140C156.28 166.03 149.21 189 140 189C131.42 189 133.13 164.67 127.75 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 19.53C829.76 19.53 819.76 5.68 819.76 0C819.76 -4.09 829.88 0 840 0C850.63 0 861.27 -4.14 861.27 0C861.27 5.62 850.51 19.53 840 19.53' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M957.73 140C957.73 127.34 964.57 118.15 980 115.8C1045.7 105.8 1065.29 144.3 1120 115.29C1174.49 86.4 1149.85 39.98 1198.4 0C1219.85 -17.66 1229.2 0 1260 0C1293.48 0 1322.91 -22.02 1326.96 0C1335.79 47.98 1298.62 68.62 1285.75 140C1273.38 208.62 1287.65 213.37 1276.47 280C1274.77 290.11 1267.94 293.49 1260 293.49C1252.79 293.49 1252.93 286.9 1246.17 280C1182.93 215.47 1194.69 181.58 1120 150.63C1061.6 126.43 1044.25 173.91 980 169.7C963.12 168.59 957.73 154.29 957.73 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1524.25 140C1515.78 72.34 1513.11 61.25 1520 0C1520.98 -8.75 1538.75 -8.75 1540 0C1548.75 61.25 1540 70 1540 140C1540 149.85 1543.45 159.69 1540 159.69C1535.58 159.69 1525.78 152.18 1524.25 140' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M177.69 560C177.69 552.72 229.13 531.4 280 531.4C324.62 531.4 368.67 552.67 368.67 560C368.67 566.97 324.34 560 280 560C228.85 560 177.69 567.02 177.69 560' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M505.56 560C505.56 552.82 530.74 533.95 560 532.78C627.96 530.06 632.2 539.4 700 552.22C704.2 553.01 704 557.33 704 560C704 561.22 702 560 700 560C630 560 630 560 560 560C532.78 560 505.56 566.43 505.56 560' stroke='rgba(225%2c 225%2c 225%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}

.main {
    text-align: center;
}
.card {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    margin:50px auto;
    display: inline-block;
    -webkit-box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
            box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
} 
.logo{
    width: 150px;
    height: 150px;
    margin:auto auto;
    background-image: url("img/delmonte.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.input {
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
   }
   .input:focus {
    outline-color: white;
    place-content: "Ingrese la información";
   }

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #b5e7bd;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #3a923f;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }